

h1{
    font-family: Georgia;
    font-size: 50px;
    text-align: center;
    text-underline-offset: 2px;
}
p{ 
    font-size: 25px;
    font-family: "Acme" , "Serif";
    width: 1400px;
}
.species{
    display: flex;
    background-color: beige;
    padding: 10px;
    padding-top: 5px;
    display: flex;
    border-radius: 20px;
    margin: 20px;

}
.img{
    border-radius: 20px;
    
}
h2{ 
    text-align: center; 
    font-size: 40px;
    font-family: "Beletrio", "Acme"; 
    text-underline-offset: 2px;
    text-underline-position: below;
    padding-bottom: 7px;
}