h1{
    text-align: center; 
    font-size: 50px;
    font-family: Black Ops One; 
    text-underline-offset: 2px;
    text-underline-position: below;
    padding-bottom: 10px;
}
.image{
    width: 400px;
    height: 300px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.link{
    text-align:center;
    font-size: 25px;
    color:beige;
    
    font-family:"Acme" , "Serif";
    letter-spacing: 1px;
    text-decoration: underline;
    color: aliceblue;
    

}
.image-card{
    width: 400px;
    height: 400px;
}

.image-container{
    display:flex;
    justify-content: center;
    align-items:normal;
    gap: 20px;
    padding-top: 2px;
    
    
}